---
import ".styles/global.css";
import BaseLayout from ".layouts/BaseLayout.astro";
import ProjectCard from ".components/ProjectCard.astro";
---

<BaseLayout>
  <header
    class="max-h-full max-w-full px-30 py-10 bg-ev-rich text-ev-light"
  >
    <h1 class="font-itim text-[20px]">
      Hey! I'm Alexandro! 😃 <br />
      Passionate <b>Full-Stack Web Developer</b> dedicated to crafting high performing
      and visually stunning websites. <br />
      My <b>mission</b> is to <b>help</b> your business take a turn and have an online presence into
      a client-magner by building sleek, scalable and conversion-driven websites. <br />
      Let's bring your vision to life!
    </h1>
  </header>
  <main class="max-h-full max-w-full px-30 py-10 bg-ev-deep text-ev-light">
    <h1 class="font-itim text-[2rem]">Projects</h1>

    <div class="projects">

    </div>
  </main>
</BaseLayout>
