---
import GithubLogo from ".assets/Github.svg";
import LinkedinLogo from ".assets/Linkedin.svg";
---

<div
  id="contact"
  class="bg-ev-deep font-itim flex flex-col flex-wrap gap-4 px-30 max-md:px-10 py-10 text-ev-light"
>
  <h1 class="text-[2rem]">&lt;Contact Me! /&gt;</h1>
  <p>Feel free to reach out via email or social media!</p>
  <div class="mt-4">
    <a href="mailto:expinole12@gmail.com" class="underline hover:text-gray-300">
      expinole12@gmail.com
    </a>
  </div>

  <div class="flex gap-10 mt-4 items-center">
    <a href="https://github.com/Alexandro02" target="_blank" class="hover:text-gray-300"><GithubLogo class="inline-block" /> GitHub</a>
    <a href="https://linkedin.com/in/alex-strat" target="_blank" class="hover:text-gray-300"><LinkedinLogo class="inline-block"/> LinkedIn</a>
  </div>
</div>
