---

---

<footer
  class="flex text-ev-light justify-center items-center px-30 max-w-full h-15 bg-ev-dark font-itim max-md:px-10 max-sm:px-0"
>
  <p class="max-md:text-[16px]">© 2025 ~ Alexandro Espino - All rights reserved.</p>
</footer>
