---

---

<footer
  class="flex text-ev-light justify-center items-center px-30 max-w-full h-15 bg-ev-dark sticky bottom-0 font-itim"
>
  <p>© 2025 ~ Alexandro Espino - All rights reserved.</p>
</footer>
