---

---

<header
  id="about"
  class="max-h-full text-[20px] max-w-full px-30 py-10 bg-ev-rich text-ev-light flex justify-center max-md:px-10 max-md:text-[18px]"
>
  <h1 class="font-itim">
    Hey! I'm Alexandro! 😃 <br />
    Passionate <b>Full-Stack Web Developer</b> dedicated to crafting high performing
    and visually stunning websites. <br />
    My <b>mission</b> is to <b>help</b> your business take a turn and have an online
    presence into a client-manner by building sleek, scalable and conversion-driven
    websites. <br />
    Let's bring your vision to life!
  </h1>
</header>
