---
import ProjectCard from "./ProjectCard.astro"
---

<main
  class="max-h-full max-w-full font-itim px-30 py-10 bg-ev-deep text-ev-light max-md:px-10"
>
  <h1 class="text-[2rem]">&lt;Projects /&gt;</h1>

  <section class="projects">
    <ProjectCard />
  </section>
</main>
