---
import AstroLogo from ".assets/Astro.svg";
import JavaScriptLogo from ".assets/JavaScript.svg";
import TypeScriptLogo from ".assets/TypeScript.svg";
import TailwindLogo from ".assets/TailwindCSS.svg";
import ReactLogo from ".assets/React.svg";
---

<section
  class="bg-ev-dark text-ev-light max-w-full max-h-full font-itim px-30 py-10 max-md:px-10"
>
  <h1 class="text-[2rem]">&lt;Tech i Use /&gt;</h1>

  <div class="flex flex-row flex-wrap py-10 gap-5 max-md:gap-8 justify-center items-center ">
    <AstroLogo class="hover:scale-110 ease-in duration-200"/>
    <JavaScriptLogo class="hover:scale-110 ease-in duration-200"/>
    <TypeScriptLogo class="hover:scale-110 ease-in duration-200"/>
    <TailwindLogo class="hover:scale-110 ease-in duration-200"/>
    <ReactLogo class="hover:scale-110 ease-in duration-200"/>
  </div>
</section>
